@import 'https://fonts.googleapis.com/css?family=Lato';
@import 'https://fonts.googleapis.com/css?family=Oswald';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
html {
  font-size: 10;
}
.main-wrapper {
    display: flex;
    flex-direction: column;
    background: url('http://cdn01.wideopentech.com/themes/wot-2013-gm/_/img/wot-masthead-dark.jpg') no-repeat center;
    background-size: cover;
    height:60vh;
    justify-content: space-between;
}
.main-header {
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 0 20px 0 20px;
    transition: fade;
}
.ham {
    width:24px;
    height:15px;
}

.main-nav {
    display: none;

}

.main-nav ul {
  font-family: 'Lato', sans-serif;
    display: flex;
    width: 70vw;
    color: white;
    justify-content: space-around;
    padding-left: 30%;

}
.logo1 {
  padding: 10px 20px 0 20px;

}
.ham {
    width:24px;
    height:15px;
}
.tag-line{
  font-family: 'Oswald', sans-serif;
  color: white;
  text-align: center;

}
.your-digital {
    font-size: 1rem

  }
.workshop {
    font-size: 4rem;

}
.little-box {
  background: white;

}
.lower {
  background: #ccc;
  height: 100vh;
  width: 100%;

}
.p {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}


@media(min-width: 768px) {
  .your-digital {
      text-align: left;
      padding-left: 30%;
    }

    .ham {
        display: none;
    }
    .main-nav {
        display: flex;
    }
    .main-nav ul {
        display: flex;
    }
    .main-header {
      display: none;
    }
  }
